/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
.sendButton {
  display: block;
  font-size: 16pt;
}

.errorMessage{
	color: red;
}

.mainPanel{
	margin:auto;
	border-style:double;
	padding:10px;
}

.loginPanel{
	margin-left:auto;
}

.hintLabel{
	margin-right: 3px;
}

.statusTable{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

.hiddenWidget{
	visibility: hidden;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.scrollPanel{
	width: 250px;
	height: 400px;
	border-style: solid;
	border-width: thin;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
